In [3]:
#Changing the current directory
%cd "C:\Users\harsh\OneDrive\Documents\Kaggle\Google Taxi Fare forecasting"

C:\Users\harsh\OneDrive\Documents\Kaggle\Google Taxi Fare forecasting

In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\harsh\appdata\local\programs\python\python37\lib\site-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\harsh\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\harsh\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.15.4 in c:\users\harsh\appdata\local\programs\python\python37\lib\site-packages (from pandas) (1.21.4)
Requirement already satisfied: six>=1.5 in c:\users\harsh\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [5]:
import pandas as pd

Data_test = pd.read_csv("train.csv")
Data_test.head(10)

                             key  fare_amount  ... dropoff_latitude  passenger_count
0    2009-06-15 17:26:21.0000001          4.5  ...        40.712278                1
1    2010-01-05 16:52:16.0000002         16.9  ...        40.782004                1
2   2011-08-18 00:35:00.00000049          5.7  ...        40.750562                2
3    2012-04-21 04:30:42.0000001          7.7  ...        40.758092                1
4  2010-03-09 07:51:00.000000135          5.3  ...        40.783762                1
5    2011-01-06 09:50:45.0000002         12.1  ...        40.758233                1
6    2012-11-20 20:35:00.0000001          7.5  ...        40.764842                1
7   2012-01-04 17:22:00.00000081         16.5  ...        40.751048                1
8  2012-12-03 13:10:00.000000125          9.0  ...        40.731628                1
9   2009-09-02 01:11:00.00000083          8.9  ...        40.758138                2

[10 rows x 8 columns]

In [6]:
Data_test.shape

(55423856, 8)